<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Gomes</title>
</head>
<body>
    <h1>Bem vindo nosso querido BG</h1>
    <h3>Bruno, você sabe que gostamos muito de você como nosso professor. Suas
        aulas são sempre descontraidas e aprendemos bastante. Nossa jornada no IF
        está findando e daqui a bem pouquinho iremos nos formar, você deseja ser o 
        padrinho?
    </h3>
    <form action="../php/decisao.php" method="post">
        <input type="submit" name="sim" value="Sim :D">
        <input type="submit" name="nao" value="Não ;(">
    </form>
</body>
</html>